.container{
  width: 85vw;
  margin: auto;
}

.data{
  padding-top: 15px;
}

.dataSegment{
  padding-top: 15px !important;
}

#steps{
  padding-bottom: 15px;
}
/*#steps div{
  width: 50%;
}*/
#ingredients{
  padding-bottom: 15px;
}
/*#ingredients div{
  width: 50%;
}*/
/*#title{
  width: 100%;
}*/
