.container{
  width: 85vw;
  margin: auto;
}

.data{
  padding-top: 15px;
}

.dataSegment{
  padding-top: 15px !important;
}

#steps{
  padding-bottom: 15px;
}
#ingredients{
  padding-bottom: 15px;
}
